@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    color: white;
    font-family: 'Poppins', sans-serif;
}

.dest {
  text-align: center;
  padding-bottom: 50px;
  padding: 10px;
}

.video {
    float: left;
}

.dest-text {
    text-align: center;
    margin-bottom: 2%;
}

.lancamentos {
    color: black;
    display: flex;
    flex-direction: row;
}

.dropdown {
    margin-top: -46px;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.card-body {
    display: inline-block;
}

.title-dest {
    padding-left: 52%;
}

.title-carousel {
    text-align: center;
    padding-bottom: 20px;
}

.subtitle-carousel {
    display: flex;
    flex-direction: column;
}

.carousel-item.active {
    display: flex;
    padding: 10px;
}

.text-item-carousel {
    width: 65%;
}

.card iframe {
    padding: 5px;
}

.dropdown {
    text-align: right;
}

.card {
    display: inline-flex;
}

.textresult {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
}

/* .sub3 {
    text-align: center;
    margin-top: -40px;
} */

.plat-maintext {
    color: black;
}

.more-information {
    justify-content: right;
}

.subtitle {
    width: 50%;
    display: inline-block;
}

.lancamentos {
    display: flex;

}

.footer {
    display: flex;
    padding: 10px;
}

.title-games {
    text-align: center;
    color: black;
}

.pub {
    padding: 20px;
    text-align: center;
}

.footer {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#nav-main {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#container-details {
  color: black;
  text-align: center;
  padding-top: 20px;
}

#navbar-details {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#container-publishers {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#container-destaque {
 box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#container-destaque h1 {
  text-align: center;
}

#more-plataforms {
    margin-bottom: 20px;
}

#footer-container p {
    text-align: center;
    padding: 40px;
    box-shadow: 0px -3px 6px 0px rgba(0,0,0,0.78);
}

#footer-container {
    height: 120px;
}

#bt-more-dest {
    margin-top: 10px;
    margin-left: 80%;
}